<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form class="example-form" [formGroup]="addmoney">
                            <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Account Number</mat-label>
                              <input matInput value="Google" formControlName="accountnumber">
                            </mat-form-field>
                          
                            <table class="example-full-width" cellspacing="0"><tr>
                              <td><mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>First name</mat-label>
                                <input matInput formControlName="firstname">
                              </mat-form-field></td>
                              <td><mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastname">
                              </mat-form-field></td>
                            </tr></table>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Amount</mat-label>
                                <input matInput value="" formControlName="amount">
                              </mat-form-field>
                              <button mat-raised-button type="submit" (click)="depositFunds()" class="btn btn-danger pull-right">Deposit Funds</button>
                          </form>
                          
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
  </div>
  